.testimonial {
    &--one {
        .section__header {
            h2 {
                @extend %white-color;
            }
        }
        .testimonial {
            &__item {
                @extend %p-30, %bg-white, %rel;
                &::after {
                    @extend %abs, %h-100, %bg-theme, %d-none;
                    top: 0;
                    left: 0;
                    width: 100px;
                    z-index: 0;
                    @include breakpoint(sm) {
                        display: inherit
                    }
                }
            }
            &__inner {
                @extend %rel, %flex, %justify-between;
                z-index: 1;
            }
            &__thumb {
                border: 6px solid $white-color;
                @extend %mb-20;
            }
            &__content {
                @extend %w-100;
                @include breakpoint(sm) {
                    width: calc(100% - 150px);
                }
                h5 {
                    @extend %mb-5;
                }
                span {
                    @extend %d-inline-block, %mb-10;
                }
                p  {
                    @extend %mb-30;
                    @include breakpoint(xxl) {
                        max-width: 85%;
                    }
                }
                &--rating {
                    @extend %flex;
                    @include breakpoint(sm) {
                        width: calc(100% - 0px);
                    }
                    ul {
                        @extend %bg-theme;
                        padding: 3px 10px;
                        border-radius: 2px 0 0 2px;
                        li {
                            @extend %d-inline-block, %white-color;
                            font-size: 14px;
                        }
                    }
                }
                &--count {
                    width: 50px;
                    height: 36px;
                    line-height: 36px;
                    font-size: 14px;
                    border-radius: 0 2px 2px 0;
                    @extend %text-center, %text-700, %bg-title, %white-color;
                }
                
            }
        }
    }
    &--two {
        .section__header {
            h2 {
                @extend %white-color;
            }
        }
        .testimonial {
            &__item {
                @extend %p-30, %text-center;
                background: url(../../assets/images/bg/testi-bg.jpg);
            }
            &__thumb {
                @extend %mb-15;
            }
            &__content {
                h5 {
                    @extend %mb-5;
                }
                &--rating {
                    padding: 15px 0 20px;
                    ul {
                        padding: 2px 15px;
                        @extend %bg-theme, %d-inline-block;
                        border-radius: 25px;
                        li {
                            @extend %d-inline-block, %white-color;
                            @include font-size(14px);
                        }
                    }
                }
            }
        }
    }
    &__slider {
        @extend %hidden;
    }
    &__pagination {
        @extend %text-center, %mt-30;
        span {
            @extend %bg-white, %title-color, %text-700, %m-5;
            width: 24px;
            height: 24px;
            line-height: 24px;
            opacity: 1;
            @include transition($transition);
            @include font-size(13px);
            &.swiper-pagination-bullet-active {
                @extend %bg-theme, %white-color;
            }
        }
    }
}